*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text_center, .summary_ten_number {
    display: flex;
    justify-content: center;
    margin: 10rem 0 0;
}
.summary_ten_number {
    background-color: greenyellow;
    
}